
<header class="header__nav"> 
  <img
      src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Artboard-2.png"
      alt=""
      class="img-fluid text-center"
      style="width: 50px; height: 50px;"
    />
  <ul>
      <a href="">
          <li>Tài khoản</li>
      </a>
      <a href="">
          <li></i>Thể loại</li>
      </a>
      <a href="">
          <li>Sách</li>
      </a>
      <a href="">
        <li>Phí phạt</li>
    </a>
      <a href="">
          <li>Thống kê</li>
      </a>
      <a href="">
          <li>Đăng xuất</li>
      </a>
  </ul>
</header>
<script src="./js/checkCurrentPage.js"></script>