<div class="header-admin vh-100 m-0 bg-dark">
  <div class="logo">
    <img
      src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Artboard-2.png"
      alt=""
      class="img-fluid text-center"
      style="width: 50px; height: 50px;"
    />
  </div>
  <div class="nav flex-column">
    <a class="nav-link p-3" href="#">Độc giả</a>
    <a class="nav-link p-3" href="#">Thể loại</a>
    <a class="nav-link p-3" href="#">Sách</a>
    <a class="nav-link p-3" href="#">Tin tức</a>
    <a class="nav-link p-3" href="#">Phí phạt</a>
    <a class="nav-link p-3" href="#">Thống kê</a>
  </div>
</div>
