<div class="header__admin">
    <a href="#"><img
        src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Artboard-2.png"
        alt=""
        class="img-fluid text-center"
        style="width: 40px; height: 40px; margin-right: 2px;"
      />
    <span style="font-size: 12px;">TRUNG TÂM HỌC LIỆU</span></a>
  <ul>
    <a href="/doc-gia">
        <li><i class="fa-solid fa-user"></i>Độc giả</li>
    </a>
    <a href="/the-loai">
        <li><i class="fa-solid fa-rectangle-list"></i>Thể loại</li>
    </a>
    <a href="/quan-li-sach">
        <li><i class="fa-solid fa-book"></i>Sách</li>
    </a>
    <a href="/muon-tra">
        <li><i class="fa-solid fa-retweet"></i>Mượn | Trả</li>
    </a>
    <a href="/phi-phat">
        <li><i class="fa-solid fa-coins"></i>Phí phạt</li>
    </a>
    <a href="/phan-hoi">
        <li><i class="fa-solid fa-comments"></i>Phản hồi</li>
    </a>
    <a href="/the-loai-tin-tuc">
        <li><i class="fa-solid fa-bars-staggered"></i>Thể loại tin tức</li>
    </a>
    <a href="/tin-tuc">
        <li><i class="fa-solid fa-newspaper"></i>Tin tức</li>
    </a>
    <a href="/thong-ke">
        <li><i class="fa-solid fa-chart-line"></i>Thống kê</li>
    </a>
    <a href="/dang-xuat" class="log_out__admin">
        <li><i style="margin-right: 9px;" class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>Đăng xuất</li>
    </a>
</ul>
</div>

 
