.header__admin {
  background-color: var(--black-cl);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;

  > a {
    text-decoration: none;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    color: var(--text-white-cl);
    border-bottom: 1px solid var(--text-gray-cl);
  }

  > ul > a {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: all 0.4s;
  }

  .log_out__admin {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
  }

  > ul {
    flex: 1;
    padding: 8px;

    > a:hover {
      border-radius: 6px;
      background-color: var(--hover-cl);
      > li {
        color: var(--text-white-cl);
      }
    }
  }

  > ul > a > li {
    font-size: 18px;
    color: var(--text-gray-cl);

    > i {
      width: 29px;
    }
  }
}
