.text_truncate{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.operation_group{
    i{
        color: purple;
        margin: 0 5px;
        cursor: pointer;
        opacity: 0.6;
    }
/* xấu dữ */
    i:hover{
        opacity: 1;
    }
    > i:first-child{
        color: green;
    }

    > i:last-child{
        color: red;
    }
}